@charset "UTF-8";
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}
form#formRadio {
    margin-bottom: 50px;
}
form#formValue {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
form#formValue > textarea#inputValue{
    width: 300px;
    height: 400px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: vertical;
    
}