@charset "UTF-8";
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}
form#formRadio {
    margin-bottom: 50px;
}
form#formValue {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form#formValue > textarea#inputValue{
    width: 300px;
    height: 400px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: vertical;
    border-color: green;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
}
input#convertButton {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}
input#convertButton:hover {
    transform: scale(1.03);
    background-color: #00a000;
    transition: .2s;
}

form#formValue > textarea#inputValue:hover{
    transform: scale(1.07);
    transition: .3s;
}
textarea#result {
    margin-top: 20px;
    width: 300px;
    height: 200px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: vertical;
    border-color: green;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}
textarea#result:hover{
    transform: scale(1.05);
    transition: .3s;
}

button#copyButton {
    background-color: blue;
    color: white;
    border: none;
    padding: 6px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.377);
}
button#copyButton:hover {
    transform: scale(1.03);
    background-color: #0000a0;
    transition: .3s;
}