@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
div#contador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: black;
    height: 150px;
    width: 300px;
    margin: 50px;
}
div.tempo {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-weight: 700;
}